a {
  font-weight: inherit;
}

.header {
  background: url("../img/bg_header.jpg") top no-repeat;

  &__top {
  }
  &__bottom {
  }
}
.top-header {
  &__content {
    display: flex;
    align-items: center;
    height: 90px;
  }
  &__column {
    flex: 0 1 50%;
    &:nth-child(2) {
      align-items: flex-start;
      padding-top: 25px;
      flex: 0 0 190px;
      text-align: center;
    }
  }
  &__menu {
  }
  &__logo {
  }
  &__contacts {
  }
}

.menu {
  &__icon {
  }
  &__body {
  }
  &__list {
    display: grid;
    grid-template-columns: 100px 130px 180px;
    li {
      margin: 1px 0;
    }
  }
  &__link {
    font-family: "Play";
    font-weight: 700;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: underline;
    border-radius: 25px;
    min-height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 22px;
    @media (min-width: ($md2 + px)) {
      &:hover {
        background-color: #068292;
      }
    }
  }
}
.icon-menu {
}
.contacts-header {
  display: flex;
  justify-content: center;
  &__column {
    border-right: 1px solid #fff;
    padding: 5px 30px;
    &:last-child {
      border: 0;
    }
  }
  &__item {
  }
  &__label {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
  }
  &__phone {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
  }
}
.contacts-header-item {
  &__icon {
    padding: 0px 0px 0px 37px;
    background: url("../img/icons/header/phone.png") left no-repeat;
  }
}
.bottom-header {
  &__container {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__column {
    flex: 0 1 calc(50% - 95px);
  }
  &__actions {
  }
  &__info {
  }
}
.actions-header {
  display: flex;
  align-items: center;
  li {
    margin: 0 54px 0 0;
  }
  &__login {
    display: inline-flex;
    background: url("../img/icons/header/login.png") left no-repeat;
    display: inline-block;
    line-height: 24px;
    padding-left: 36px;
    color: #999999;
    span {
      border-bottom: 1px dotted;
    }
  }
  &__reg {
    display: inline-flex;
    background: url("../img/icons/header/user.png") left no-repeat;
    display: inline-block;
    line-height: 24px;
    padding-left: 36px;
    color: #1ab9ce;
    span {
      border-bottom: 1px dotted;
    }
  }
  &__mail {
    background: url("../img/icons/header/mail.png") left no-repeat;
    display: inline-block;
    line-height: 13px;
    padding-left: 36px;
    color: #1ab9ce;
    span {
      border-bottom: 1px dotted;
    }
  }
}
.info-header {
  display: flex;
  align-items: center;
  &__column {
    padding: 0 54px 0 0;
    &:last-child {
      padding: 0;
    }
  }
  &__callback {
    display: inline-flex;
    background: url("../img/icons/header/callback.png") left no-repeat;
    display: inline-block;
    line-height: 20px;
    padding-left: 32px;
    color: #1ab9ce;
    span {
      border-bottom: 1px dotted;
    }
  }
  &__shedule {
    background: url("../img/icons/header/shedall.png") left no-repeat;
    padding-left: 37px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #999999;
    span {
      font-weight: 900;
    }
  }
  &__cart {
    width: 43px;
    height: 43px;
    display: inline-block;
    background: url("../img/icons/header/cars.png") left no-repeat;
    position: relative;
    span {
      position: absolute;
      padding: 0 11px;
      border-radius: 20px;
      line-height: 25px;
      background-color: #f68038;
      right: 0;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      transform: translate(70%, 0px);
    }
  }
}
