.footer {
  &__top {
    background-color: #dfdfdf;
    height: 342px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 80px 0;
  }
  &__contact {
  }
  &__social {
  }
  &__info {
  }
  &__bot {
    height: 110px;
    background-color: #363838;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bot__text {
  padding: 42px 10px;
  color: #a1a1a1;
}
.contact {
  max-width: 540px;
  &__title {
    color: $title;
    @extend %font-title;
    line-height: 23px;
    margin-bottom: 14px;
  }
  &__text {
    color: #5a5a5a;
    max-width: 476px;
    margin-bottom: 16px;
  }
  &__mail {
    display: inline-block;
    font-weight: 600;
    color: $title;
    font-size: 14px;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/mail.png);
      left: 0;
      top: 8px;
      height: 12px;
      width: 16px;
    }
  }
  &__search {
  }
}
.search {
  &__input {
    border-radius: 20px;
    border: 1px solid rgba(38, 36, 36, 0.7);
    width: 368px;
    height: 40px;
    background-color: #dfdfdf;
    &::placeholder {
      padding-left: 10px;
    }
  }
  &__btn {
    border-radius: 20px;
    width: 160px;
    height: 40px;
    padding: 6px 12px;
    background-color: #363838;
    color: #fffff0;
    cursor: pointer;
  }
}
.social {
  &__item {
  }
  &__list {
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
  &__link {
    color: #707070;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
  }
}

.list {
  &__social-facebook {
    &::after {
      content: "";
      background-image: url(../img/facebook.svg);
      width: 16px;
      height: 16px;
    }
  }
  &__social-instagram {
    &::after {
      content: "";
      background-image: url(../img/instagram.svg);
      width: 14px;
      height: 15px;
    }
  }
  &__social-pinterest {
    &::after {
      content: "";
      background-image: url(../img/pinterest.svg);
      width: 16px;
      height: 16px;
    }
  }
  &__social-whatsApp {
    &::after {
      content: "";
      background-image: url(../img/whatsApp.svg);
      width: 14px;
      height: 14px;
    }
  }
  &__social-youtube {
    &::after {
      content: "";
      background-image: url(../img/youtube.svg);
      width: 18px;
      height: 12px;
    }
  }
}

.info {
  &__menu {
  }
  &__menu-item {
  }
  &__menu-list {
    margin-bottom: 15px;
  }
  &__menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
  }
}
