.header {
  padding-top: 40px;
  height: 120px;

  &__btn {
    background: none;
    border: 0;
    padding: 0;
  }
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  padding-right: 60px;
  padding-left: 30px;
  &__list {
    display: flex;
    @extend %font-montserrat;
    line-height: 22px;
  }
  &__list-item + .menu__list-item {
    padding-left: 80px;
  }
  &__list-link {
    color: rgba(54, 56, 56, 0.9033);
  }
}

.logo {
  margin: 0 auto;
}
