// ?---------Swiper--------

.swiper {
  max-width: 1345px;
  height: 100%;
  margin-bottom: 50px;
}

.slider {
  &__inner {
    background: url(../img/content/bgr_slider.jpg) top no-repeat;
  }
  &__content {
  }
}

.swiper-wrapper {
}

.swiper-slide {
  display: flex;
  align-items: center;
}
.img {
  &__slider {
  }
}

.slide {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content {
  &__title {
    @extend %font-title;
    color: $title;
    font-size: 110px;
    line-height: 110px;
    margin: 0 0 50px 15px;
    padding-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 185px;
      height: 1px;
      background: #6d7278;
      border: 1px solid #979797;
    }
  }
  &__text {
  }
}
.swiper-pagination {
}
// ?--------------------------------------

.new-collection {
  &__info {
    text-align: center;
    max-width: 730px;
    margin: 0 auto;
  }
  &__title {
    @extend %font-title;
    color: $title;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 250px;
      margin: 0 auto;
      background: #6d7278;
      border: 1px solid #979797;
    }
  }
  &__text {
    margin-bottom: 30px;
  }
  &__box-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
}

.box-images {
  &__item {
    position: relative;
    margin-bottom: 100px;
    &:hover {
      .box-images__text {
        opacity: 1;
      }
    }
  }
  &__link {
  }
  &__img {
    object-fit: cover;
    max-width: 350px;
  }
  &__text {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#ffffff, 0.7);
    transition: all 0.5s;
    opacity: 0;
  }
  &__text-title {
    @extend %font-title;
    color: $title;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    padding-top: 35%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 200px;
      margin: 0 auto;
      background: #6d7278;
      border: 1px solid #979797;
    }
  }
  &__text-text {
    color: #707070;
  }
}

// ? ----------------------------------

.drinking {
  background-image: url(../img/drinking-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  &__box {
    padding: 170px 0 155px 0;
    max-width: 530px;
  }
  &__title {
    @extend %font-title;
    color: $title;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 200px;
      background: #6d7278;
      border: 1px solid #979797;
    }
  }
}

// ?-----------------------------------

.work {
  &__title {
    text-align: center;
    color: $title;
    @extend %font-title;
    font-size: 36px;
    line-height: 51px;
    padding: 80px 0 40px 0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
    margin-bottom: 38px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 2px;
      background: rgba(#363838, 0.7);
    }
  }
  &__box--content {
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__box--desiner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -42px;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      background: rgba(#363838, 1);
    }
  }
  &__box--production {
    margin-right: 280px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -38px;
      width: 2px;
      height: 20px;
      background: rgba(#363838, 0.7);
    }
  }
  &__box--measurements {
    margin-left: 310px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -38px;
      width: 2px;
      height: 20px;
      background: rgba(#363838, 0.7);
    }
  }
}

.box {
  &__images {
    margin-right: 10px;
  }
  &__title {
    color: $title;
    @extend %font-title;
    font-size: 16px;
    line-height: 23px;
  }
  &__text {
    margin-top: 15px;
  }
  &__text--production {
    margin-top: -50px;
  }
}
